.board {
  width: 320px;
  margin-bottom: 16px;
  
  &-title {
    margin: 20px;
  }
}

mat-card {
  height: 140px;

  &-header {
    justify-content: space-between;
  }
}

.mat-card {
  padding: 4px;
}

.board-description {
  padding: 28px 38px;
}
