.board {
  width: 320px;
  margin-bottom: 16px;
  margin-left: 12px;

  &-title {
    margin: 20px;
  }

  &__form {
    display: flex;
  }

  &__inputs {
    padding-top: 10px;
    margin-left: 10px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

mat-card {
  height: 140px;

  &-header {
    justify-content: space-between;
  }
}

.mat-card {
  padding: 4px;
}

.board-description {
  padding: 28px 38px;
}
