.board {
  width: 320px;
  display: block;
  cursor: pointer;
  margin-left: 12px;
}

.add-board {

  &__form {
    display: flex;
  }

  &__inputs {
    padding-top: 10px;
    margin-left: 10px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.addPoint {
  text-align: center;

  &-control {
    margin-top: 15px;
    font-size: 48px;
    width: 48px;
    height: 48px;
  }

  &-description {
    margin-top: 16px;
    text-align: center;
  }
}

mat-card {
  height: 140px;
}

.mat-card {
  padding: 4px;
}
